aclocal.m4
autom4te.cache
configure
config.h
config.h.in
config.h.in~
config.log
config.status
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1

.deps

*.a
*.c
*.o
*.log
*.stamp
*.trs

*.gschema.valid

compile

src/libgeda3.h
src/libgeda3.vapi
src/libgschem3.h
src/libgschem3.vapi

gschem3
test-driver
tests/test_angle
tests/test_color
tests/test_color_scheme
tests/test_coord
tests/test_schematic_item_net

## Backup files
*~

